**/build/
.vscode/
.idea/
cmake-build-*/
*.deb
**/env/
**/__pycache__/

# Python packages
**/dist/
**egg-info/
*.whl

#Protobuf compiled
*pb2.py
*pb2_grpc.py

#Generated makefile
grpc/client/Makefile

