# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

schedules:
- cron: "0 0 * * *"
  displayName: Nightly build
  branches:
    include:
    - master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build and test
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - bash: git submodule update --init --recursive
    - bash: docker build -t tag-hierarchy ./
    - bash: docker create --name tag-hierarchy-service tag-hierarchy
    - bash: docker cp tag-hierarchy-service:/usr/src/app/ioc-hierarchy-service-docker-build/tag-hierarchy-1.0.2-x86-64.deb .
    - bash: docker run -w /usr/src/app/ioc-hierarchy-service --name continuous tag-hierarchy bash -c 'make continuous'
    - bash: docker run -w /usr/src/app/ioc-hierarchy-service --name nightly tag-hierarchy bash -c 'make nightly'
      condition: eq(variables['Build.Reason'], 'Schedule')
    - task: GithubRelease@0
      displayName: 'Create GitHub Release'
      inputs:
        gitHubConnection: ioc-hierarchy-service
        repositoryName: equinor/ioc-hierarchy-service
        assets: ./*.deb
