# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  tags:
    include:
    - v*
  branches:
    exclude:
    - wip*

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build_and_test
  displayName: Build image
  jobs:  
  - job: Build
    timeoutInMinutes: 120
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self
      submodules: true
    - bash: docker build -t tag-hierarchy ./
    - bash: docker create --name tag-hierarchy-service tag-hierarchy
    - bash: docker cp tag-hierarchy-service:/usr/src/app/ioc-hierarchy-service-docker-build/tag-hierarchy-1.4.0-x86-64.deb .
    - bash: docker run -w /usr/src/app/ioc-hierarchy-service --name continuous tag-hierarchy bash -c 'make continuous'
    - bash: docker cp continuous:/usr/src/app/ioc-hierarchy-service-docker-build/Testing/ .
    - bash: docker run -w /usr/src/app/ioc-hierarchy-service --name nightly tag-hierarchy bash -c 'make nightly'
      condition: or(eq(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'cTest'
        testResultsFiles: 'Testing/**/Test.xml' 
    - task: GithubRelease@0
      displayName: 'Create GitHub Release'
      inputs:
        gitHubConnection: 'GitHub connection 1'
        repositoryName: equinor/ioc-hierarchy-service
        assets: ./*.deb
